* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    padding-right: 30px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}


.articles {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.articles article img{
  /*  height: 180px; */
  width: 100%;
}

.articles article{
    width: 30%;
}

section {
    padding: 16px 0
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
background-color: black;
color: #fff;
padding: 8px;
display: inline-block;
text-decoration: none;
font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0,222,0, 0.1)
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}
#economy .articles article a{
    background-color: #ff9f1a
}

#movies {
    background-color: #c2dfff;
}

#movies .articles article a {
    background-color: #2b65ec;
}

#games {
    background-color: #f19354;
}
#games .articles article a{
    background-color: #cc7802ce
}